## Intro to SQL and Python

This notebook will introduce the basics of SQL with Python.  Links and key references are provided.  In depth explanations founds elswhere are pointed to and left elsewhere.

### 1.1 Getting Started
This will import sqlite3, a lightweight implementation of SQL database engine that easily works with Python.

In [1]:
## import the package
import sqlite3

Establish a connection.  This is to a database that's stored either on disk (will require a path), or in memory.   If the DB doesn't exist, this command will create the file.

In [2]:
## this would establish the database in memory
conn = sqlite3.connect(':memory:')

## this establishes the database connection to a file
#conn = sqlite3.connect('test.db')

Establish a cursor.  The cursor instance instructs the database on what you want it to do.

In [3]:
c = conn.cursor()
c.execute('DROP TABLE IF EXISTS customers')

### 1.2 Create Basic Tables & Queries

Start by creating a table.  We will create a table of customers that captures their first name, last name and email.

In [4]:
c.execute('''CREATE TABLE customers(
    first_name TEXT, 
    last_name TEXT,
    email TEXT
        )''')

Insert a single row entry into the database:

In [5]:
c.execute("INSERT INTO customers VALUES ('Justin', 'Joseph', 'jjy@jjy.com')")

Use a list to create a bulk entry into the database.  Notice the use of *executemany* in this case:

In [6]:
many_customers = [
                    ('Steve', 'Smith', 'steve@123.com'),
                    ('Luke', 'Duke', 'luke@luke.com'), 
                    ('Jerry', 'Springer', 'jerry@jsp.com'), 
                    ('Joslyn', 'Reed', 'jos@jcassi.com')
                    ]

c.executemany('INSERT INTO customers VALUES (?,?,?)', many_customers)

#### Execute a Basic Query

Query the database.  There are multiple way to do this:

1. c.execute("SELECT * FROM customers) instructs sql to return everything from the customer table. 


2. a fetch statement is required.  It can be:

- c.fecthone() returns a single entry
- c.fetchmany(n) returns n entries
- c.fetchall() returs all of the entires

3.  Print it to the console

You can get more specific about what is returned by using slice notation. For example, this will give the 4th entry in the db([3]), and the first element within the entry([0])

In [9]:
c.execute("SELECT * FROM customers")
items = c.fetchall()
print(items)

[('Justin', 'Joseph', 'jjy@jjy.com'), ('Steve', 'Smith', 'steve@123.com'), ('Luke', 'Duke', 'luke@luke.com'), ('Jerry', 'Springer', 'jerry@jsp.com'), ('Joslyn', 'Reed', 'jos@jcassi.com')]

Since c.fetchall() returns a list of tuples from the table data, this is iterable and a bit easier to read.

In [10]:
for i in items:
    print(i)

('Justin', 'Joseph', 'jjy@jjy.com')
('Steve', 'Smith', 'steve@123.com')
('Luke', 'Duke', 'luke@luke.com')
('Jerry', 'Springer', 'jerry@jsp.com')
('Joslyn', 'Reed', 'jos@jcassi.com')